/* Font Css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Font Css */
/* Common Css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
h4{
    color: #555;
    font-weight: normal;
}
.container{
    max-width: 1300;
    margin: auto;
    padding: 0 50px;
}
.smallContainer{
    max-width: 1080;
    margin: auto;
    padding: 0 100px;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: all linear .5s;
}
.btn:hover{
    background: #563434;
}
.menuIcon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* Common Css */
/* Header Css */
#header{
    background: radial-gradient(#fff, #ffd6d6);
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px 0px;
}
nav{
    flex: 1;
    text-align: right;
}
.cartImg{
    cursor: pointer;
    margin-top: 25px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
}
.col2{
    flex-basis: 50%;
    min-width: 300px;
}
.col2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
/* Header Css */
/* Feature Css */
#feature{
    margin: 70px 0;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col3 img{
    width: 100%;
    filter: grayscale(1);
    transition: all linear .5s;
}
.col3 img:hover{
    filter: grayscale(0);
}
/* Feature Css */
/* Feature Product Css */
.col4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50xp;
    transition: transform 0.5s;
}
.col4 img{
    width: 100%;
}
.title{
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background:#ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col4:hover{
    transform: translateY(-5px);
}
/* Feature Product Css */
/* Exclusive Product Css */
#offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col2 .offerImg{
    padding: 50px;
}
small{
    color: #555;
}
/* Exclusive Product Css */
/* Testimonial Css */
#testimonial{
    padding-top: 100px;
}
#testimonial .col3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all linear .5s;
}
#testimonial .col3:hover{
    transform: translateY(-10px);
}
#testimonial .col3 img{
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
    filter: grayscale(1);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.lp{
    margin-top: 100px;
}
.col3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
#testimonial .col3:hover img{
    filter: grayscale(0);
}
#testimonial .col3 h3{
    font-size: 16px;
    color: #555;
    font-weight: 600;
}
/* Testimonial Css */
/* Brand Css */
#brands{
    margin: 100px auto;
}
.col5{
    width: 160px;
}
.col5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all linear .3s;
}
.col5 img:hover{
    filter: grayscale(0%);
}
/* Brand Css */
/* Footer Css */
#footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
#footer p{
    color: #8a8a8a;
}
#footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footerCol1, .footerCol2, .footerCol3, .footerCol4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footerCol1{
    flex-basis: 30%;
}
.footerCol2{
    flex: 1;
    text-align: center;
}
.footerCol2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footerCol3, .footerCol4{
    flex-basis: 12%;
    text-align: center;
}
.appLogo{
    margin-top: 20px;
}
.appLogo img{
    width: 140px;
}
#footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyWright{
    text-align: center;
}
/* Footer Css */
/* ProductPage */
.row2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.pageBtn{
    margin: 80px  auto;
    text-align: center;
}
.pageBtn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: all linear .3s;
}
.pageBtn span:hover{
    background: #ff523b;
    color: #fff;
}
/* ProductPage */
/* Single Product Page */
.singleProduct{
    margin-top: 80px;
}
.singleProduct .col2 img{
    padding: 0;
}
.singleProduct .col2 {
    padding: 20px;
}
.singleProduct h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.singleProduct select{
    margin-top: 20px;
    display: block;
    padding: 10px;
}
.singleProduct input{
    width: 50px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    margin-right: 10px;
    border: 2px solid #ff523b;
    outline: none;
}
.singleProduct .fa{
    color: #ff523b;
    margin-left: 10px;
}
.smallImgRow{
    display: flex;
    justify-content: space-between;
}
.smallImgCol{
    flex-basis: 24%;
    cursor: pointer;
}
/* Single Product Page */
/* Cart Css */
.cartPage{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #ff523b;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    padding-right: 10px;
}
.cardInfo{
    display: flex;
    flex-wrap: wrap;
}
.totalPrice{
    display: flex;
    justify-content: flex-end;
}
.totalPrice table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 465px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* Cart Css */
/* Account Css */
#account{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}
.formContainer{
    background-color: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.formContainer span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.formBtn{
    display: inline-block;
}
.formContainer form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    outline: none;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    outline: none;
}
#loginForm{
    left: -300px;
}
#registerForm{
    left: 0;
}
form a{
    font-size: 12px;
    color: #ff523b;
    font-weight: 600;
}
#indicator{
    width: 100px;
    border: none;
    background-color: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    border-radius: 10px;
    transition: transform 1s;
}
/* Account Css */




































/* Responsive Css */
@media only screen and (max-width: 480px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #333;
        overflow: hidden;
        transition: all linear .5s;
    }
    nav ul li{
        display: block;
        margin: 10px 50px 10px 0;
    }
    nav ul li a{
        color: #fff;
    }
    .menuIcon{
        display: block;
        cursor: pointer;
    }
    .row{
        text-align: center;
    }
    .col2, .col3, .col4{
        flex-basis: 100%;
        min-width: 300px;
    }
    .col5{
        width: 51%;
    }
    .col2 .offerImg {
        padding: 20px;
    }
    .smallContainer{
        padding: 0 20px;
    }
    .cardInfo p{
        display: none;
    }
}

/* Responsive Css */
@media only screen and (min-width:481px) and (max-width: 768px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #333;
        overflow: hidden;
        transition: all linear .5s;
    }
    nav ul li{
        display: block;
        margin: 10px 50px 10px 0;
    }
    nav ul li a{
        color: #fff;
    }
    .menuIcon{
        display: block;
        cursor: pointer;
    }
    .col3 {
        flex-basis: 100%;
        min-width: 450px;
        margin-bottom: 30px;
    }
    .col2 {
        flex-basis: 50%;
        min-width: 450px;
    }
    .col5 {
        width: 83px;
    }
    .col4 {
        flex-basis: 50%;
        min-width: 175px;
    }
    .footerCol2 {
        flex-basis: 100%;
        margin: 50px 0;
    }
    .footerCol1{
        flex-basis: 100%;
    }
    .footerCol4{
        flex-basis: 50% !important;
        min-width: 0 !important;
    }
    .row{
        text-align: center;
    }
}